.middle-box-button {

  svg {
    position: absolute;
    transform: translate(319%, 703%);
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s ease;
  }

  svg:hover {
    color: $md-green-700;

    + span {
      color: $md-green-700;
    }
  }

  svg:active {
    color: gray;
  }
}