.middle-box-button {

  svg {
    position: absolute;
    // transform: translate(319%, 703%);
    // cursor: pointer;
    // z-index: 1;
    // transition: all 0.2s ease;

    g {
      user-select: none;
      cursor: pointer;
      path {
        fill: rgba(0, 0, 0, 0.01);
      }
      transition: all 0.2s ease;
    }

    g:hover {
      color: $md-green-700;
    }

    g:active {
      color: $md-green-900;
    }
  }

  
}