.title-bar {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;

  @include tablet {
    font-size: 30px;
    
  }

  @include desktop {
    font-size: 50px;
  }
}