.top-box-button {
  

  svg {
    position: absolute;
    
    z-index: 1;
    
    // color: black;

    g {
      // pointer-events: inherit;
      user-select: none;
      cursor: pointer;
      path {
        fill: rgba(0, 0, 0, 0.01);
      }
      transition: all 0.2s ease;
    }

    g:hover {
      
      color: $md-blue-700;
    }

    g:active {
      color: $md-blue-900;
    }
  }
}

