.top-box-button {
  

  svg {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s ease;
    color: black;

    g {
      pointer-events: bounding-box;
    }

    g:hover {
      path {
        stroke: $md-blue-700;
      }
    }

    g:active {
      path {
        stroke: $md-blue-900;
      }
    }
  }
}

