.work-card {
	min-width: 200px;
	max-width: 100%;
	box-shadow: 7px 7px 10px 5px rgba(0, 0, 0, 0.2);
	border-radius: 1em;
	// overflow: hidden;
  margin: 5%;
	border: 2px solid rgba(0, 0, 0, 0.2);
	
	@include tablet {
		max-width: 40%;
	}

	@include desktop {
		max-width: 25%;
	}

	> img {
		width: 100%;
	}

	.work-card-body {
		border-top: 1em solid $md-blue-500;
		padding: 5px;
		text-align: center;

		h1 {
			font-size: 20px;
			@include tablet {
				font-size: 25px;
			}

			@include desktop {
				font-size: 30px;
			}
		}

		p {
			font-size: 16px;
			padding: 10px;
			@include tablet {
				font-size: 20px;
			}

			@include desktop {
				font-size: 25px;
			}
		}
		a {
      
      text-align: center;
      outline: none;

			img {
        padding: 5px;
        border: 2px solid black;
        border-radius: 1em;
        width: 20%;
        transition: background 0.2s ease;
      }
      
      img:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      img:active {
        background: rgba(0, 0, 0, 0.2);
      }
		}
	}
}