.work-section {
  min-height: 100vh;
  // background: $md-blue-700

  .title-bar {
    background: $md-blue-700;
    
  }
  .work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}